{% extends 'coursepage/base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'course_description.css' %}">
{% endblock %}

{% block content %}
<div class="container course-header">
    <div class="row">
        <div class="col-md-8">
            <h1 class="course-title">{{ course.title }}</h1>
            <p class="course-meta">
                Created by <strong>{{ course.instructor.first_name }} {{ course.instructor.last_name }}</strong><br>
                ({{ course.reviews.count }} ratings) students<br>
                Last updated {{ course.timestamp|date:"F d, Y" }}<br>
                Language: <strong>{{ course.Language }}</strong>
            </p>
            <div class="course-description">
                <h3>Course Description</h3>
                <p>{{ course.text|safe }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card course-card">
                <div class="card-body text-center">
                    <img src="{{ course.image.url }}" alt="{{ course.title }} thumbnail" class="img-fluid rounded-circle">
                    <h2>₹{{ course.price }}</h2>
                    <p>Duration: {{ course.duration }}</p>
                    <p>Language: {{ course.Language }}</p>
                    <a href="#" class="btn btn-primary btn-block">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row instructor-info mt-4">
        <div class="col-md-12">
            <h3>Instructor</h3>
            <div class="media">
                <img src="{{ course.instructor.profile_picture.url }}" alt="Instructor Image" class="mr-3 instructor-image">
                <div class="media-body">
                    <h5 class="mt-0">{{ course.instructor.first_name }} {{ course.instructor.last_name }}</h5>
                    <p>{{ course.instructor.bio|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
