{% extends 'coursepage/base.html' %}

{% block style %}

<style>
h1
{
    text-align : center;
}

</style>
{% endblock %}
{% block content %}
<h1> Edit Course Details </h1>
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" value="{{ form.title.value }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-sm-2 col-form-label">Text</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="text" name="text" value="{{ form.text.value }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                {{ form.category }}
                {% if form.category.errors %}
                    <div class="invalid-feedback">
                        {{ form.category.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" name="price" value="{{ form.price.value }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="level" class="col-sm-2 col-form-label">Level</label>
            <div class="col-sm-10">
                {{ form.level}}
                {% if form.level.errors %}
                    <div class="invalid-feedback">
                        {{ form.level.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="duration" class="col-sm-2 col-form-label">Duration</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="duration" name="duration" value="{{ form.duration.value }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="Language" class="col-sm-2 col-form-label">Language</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Language" name="Language" value="{{ form.Language.value }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" id="image" name="image">
                {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" alt="Image" class="mt-2" height="100">
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    {% for section in item %}
            <div class="list-group-item">
                <h5>{{ section.title }}</h5>
                <a href="{% url 'section_edit' course_id=course.pk section_id=section.pk %}" class="btn btn-primary btn-sm">Edit Section</a>
            </div>
        {% endfor %}
        <br>
</div>

{% endblock %}
