{% extends "coursepage/base.html" %}
{% block title %}Reset your password{% endblock %}

{% block style %}
<style>
    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Adjust this if needed to fit your layout */
        text-align: center;
    }
    h1 {
        margin-bottom: 20px; /* Adjust this as needed */
    }
</style>
{% endblock %}

{% block content %}
<div class="centered-container">
    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
